{% extends "stashmarksApp/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Sign In</h1>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {% for provider in socialaccount.providers %}
                    {% if provider.id == "facebook" %}
                        <a title="{{ provider.name }}" class="btn btn-block btn-social btn-lg btn-facebook"
                           href="{% provider_login_url provider.id process='login' scope=scope auth_params=auth_params %}"
                           onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-lg']);">
                            <i class="fa fa-facebook"></i>Sign in with Facebook
                        </a>
                    {% elif provider.id == "google" %}
                        <a title="{{ provider.name }}" class="btn btn-block btn-social btn-lg btn-google-plus"
                           href="{% provider_login_url provider.id process='login' scope=scope auth_params=auth_params %}"
                           onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-lg']);">
                            <i class="fa fa-google-plus"></i>Sign in with Google
                        </a>
                    {% endif %}
                {% endfor %}
                {% include "socialaccount/snippets/login_extra.html" %}
            </div>
            <div class="col-md-6">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}