{% extends "stashmarksApp/base.html" %}

{% load url from future %}
{% load i18n %}
{% load socialaccount %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Register</h1>

                <p>
                    {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>
                        .{% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Sign in with social account</h2>

                <div class="social-login">
                    {% for provider in socialaccount.providers %}
                        {% if provider.id == "facebook" %}
                            <a title="{{ provider.name }}" class="btn btn-block btn-social btn-lg btn-facebook"
                               href="{% provider_login_url provider.id process='login' scope=scope auth_params=auth_params %}"
                               onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-lg']);">
                                <i class="fa fa-facebook"></i>Sign in with Facebook
                            </a>
                        {% elif provider.id == "google" %}
                            <a title="{{ provider.name }}" class="btn btn-block btn-social btn-lg btn-google-plus"
                               href="{% provider_login_url provider.id process='login' scope=scope auth_params=auth_params %}"
                               onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-lg']);">
                                <i class="fa fa-google-plus"></i>Sign in with Google
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% include "socialaccount/snippets/login_extra.html" %}
                </div>
            </div>
            <div class="col-md-6">
                <h2>or Register with e-mail</h2>

                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Username</label>
                        <input name="username" type="text" class="form-control" id="id_username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="id_email">Email address</label>
                        <input name="email" type="email" class="form-control" id="id_email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="id_password">Password</label>
                        <input name="password" type="password" class="form-control" id="id_password"
                               placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="id_password2">Password (again)</label>
                        <input name="password2" type="password" class="form-control" id="id_password2"
                               placeholder="Password">
                    </div>
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button type="submit" class="btn btn-success btn-block">{% trans "Sign Up" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
