{% extends 'stashmarksApp/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="container-fluid landing-container-border">
        <div class="container">
            <div class="row">
                <div class="col-md-6 landing-header">
                    <div class="marketing-block">
                        <h1>
                            Free bookmarking for <u>everyone</u>!
                        </h1>

                        <h2>
                            Easily manage your public and private bookmarks
                        </h2>
                        <p>&nbsp;</p>
                        <a href="/accounts/signup/" class="btn btn-success btn-xlarge">Register now, it's free!</a>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img src="{% static 'images/placeholder-400-400.png' %}">
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid landing-container-border landing-container-top-space">
        <div class="container">
            <div class="row">
                <div class="col-md-3 landing-feature">
                    <img src="{% static 'images/private-250-160.png' %}" alt="Cool Feature 1" class="img-rounded" />
                    <h2>Private & Secure</h2>
                    <h3>Your bookmarks are safe with us</h3>
                </div>
                <div class="col-md-3 landing-feature">
                    <img src="{% static 'images/tags-250-160.png' %}" alt="Cool Feature 2" class="img-rounded" />
                    <h2>Personalized Tags</h2>
                    <h3>You can categorize you bookmarks with multiple tags</h3>
                </div>
                <div class="col-md-3 landing-feature">
                    <img src="{% static 'images/social_login-250-160.png' %}" alt="Cool Feature 3" class="img-rounded" />
                    <h2>Easy Sign In</h2>
                    <h3>Sign in with Facebook or Google account</h3>
                </div>
                <div class="col-md-3 landing-feature">
                    <img src="{% static 'images/bookmarklet-250-160.png' %}" alt="Cool Feature 4" class="img-rounded" />
                    <h2>Bookmarklet</h2>
                    <h3>Simple bookmarking from any website</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid landing-container-border landing-container-bottom0 landing-container-top-space">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="{% static 'images/placeholder-demo.png' %}" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid landing-container-top-space">
        <div class="container">
            <div class="row">
                <div class="col-md-9 landing-header">
                    <h1>Simple, fast and free bookmarking</h1>
                </div>
                <div class="col-md-3">
                    <a href="/accounts/signup/" class="btn btn-success btn-xlarge">Start bookmarking!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
