{% extends 'stashmarksApp/base.html' %}
{% load staticfiles %}
{% load djangular_tags %}

{% block title %}Links{% endblock %}

{% block body_block %}
    {% angularjs %}

        <div class="container" ng-app="LinksList" ng-controller="LinksListController">

            <div class="row">
                <h1>Links</h1>

            </div>
            <div class="row">
                <div class="col-md-12 input-group">
                    <div class="input-group-btn">
                        <button type="button" ng-click="search()" class="btn btn-default">{{ searchOption }}</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <button type="button" class="btn btn-default"
                                        ng-click="changeSearchOption('Search Tags')">Search Tags
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-default"
                                        ng-click="changeSearchOption('Search Text')">Search Text
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!-- /btn-group -->
                    <tags-input display-property="name" ng-model="tags">
                        <auto-complete min-length="1" source="loadTags($query)"></auto-complete>
                    </tags-input>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->

            <div class="row" infinite-scroll="pollAllLinks()" infinite-scroll-disabled='busy'
                 infinite-scroll-distance="1">
                <div class="col-md-4" ng-repeat="link in links">
                    <div class="panel panel-default">
                        <div class="panel-heading"><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></div>
                    <div class="panel-body">
                        <a class="thumbnail" href="{{ link.url }}">
                            <img src="/media/thumbs/{{ link.thumb }}"/>
                        </a>

                        <div>
                            <span class="label label-default" ng-repeat="tag in link.tags">{{ tag.name }}</span>
                        </div>
                    </div>
                    </div>


                </div>
            </div>

        </div>

    {% endangularjs %}

    <script src='{% static "js/views/links.js" %}'></script>
{% endblock %}
