{% extends 'stashmarksApp/base.html' %}
{% load staticfiles %}
{% load djangular_tags %}

{% block title %}Latest Links{% endblock %}

{% block body_block %}
    {% angularjs %}

        <div class="container" ng-app="LinksList" ng-controller="LinksListController">

            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Latest Links</h1>
                </div>
            </div>

            <div class="row search-row">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-8">
                    <form ng-submit="search()">
                        <div class="input-group">

                            <div class="input-group-btn">

                                <button type="submit"
                                        class="btn btn-default">{{ searchOption }}</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="javascript:void(0)" role="menuitem"
                                           ng-click="changeSearchOption('Search Tags')">Search Tags
                                        </a>
                                    </li>
                                    <li role="presentation" class="divider"></li>
                                    <li>
                                        <a href="javascript:void(0)" role="menuitem"
                                           ng-click="changeSearchOption('Search Text')">Search Text
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <tags-input ng-if="searchOption === 'Search Tags'" add-from-autocomplete-only="true"
                                        min-length="2"
                                        display-property="name"
                                        ng-model="tags">
                                <auto-complete min-length="1" source="loadTags($query)"></auto-complete>
                            </tags-input>
                            <div class="search-box">
                                <input ng-if="searchOption === 'Search Text'" type="text" class="form-control"
                                       placeholder="Search"
                                       ng-model="searchQuery.q"/>
                            </div>
                        </div>
                    </form>
                    <span class="clearfix"></span>
                </div>
                <div class="col-md-2">&nbsp;</div>
            </div>
            <div class="row" infinite-scroll="pollAllLinks()" infinite-scroll-disabled='busy'
                 infinite-scroll-distance="1">
                <div class="col-md-4 col-sm-6" ng-repeat="link in links">
                    <div class="panel panel-default">
                        <div class="panel-heading"><a href="{{ link.url }}"
                                                      title="{{ link.title }}">{{ link.title }}</a></div>
                        <div class="panel-body">
                            <a class="thumbnail" href="{{ link.url }}">
                                <img ng-src="/media/thumbs/{{ link.thumb }}"/>
                            </a>

                            <div>
                                <span class="label label-default tag-label" ng-repeat="tag in link.tags"
                                      ng-click="filterByTag(tag)">{{ tag.name }}</span>
                            </div>
                            <div>
                                Likes <span class="badge">{{ link.likes }}</span>
                                <button ng-hide="link.liked" ng-click="likeClick(link)">Like</button>
                                <button ng-show="link.liked" ng-click="likeClick(link)">Unlike</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    {% endangularjs %}

    <script src='{% static "js/views/links.js" %}'></script>
{% endblock %}
