{% extends 'stashmarksApp/base.html' %}
{% load staticfiles %}
{% load djangular_tags %}

{% block title %}My Stash{% endblock %}

{% block body_block %}
    {% angularjs %}

        <div class="container" ng-app="MyStash" ng-controller="MyStashController">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1>My Stash</h1>
                </div>
                <div class="col-md-1 text-center">
                    <button ng-click="openAdd()" class="btn btn-default btn-lg add-button">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
                    </button>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row search-row">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-8">
                    <form ng-submit="search()">
                        <div class="input-group">

                            <div class="input-group-btn">
                                <button type="submit"
                                        class="btn btn-default">{{ searchOption }}</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="javascript:void(0)" role="menuitem"
                                           ng-click="changeSearchOption('Search Tags')">Search Tags
                                        </a>
                                    </li>
                                    <li role="presentation" class="divider"></li>
                                    <li>
                                        <a href="javascript:void(0)" role="menuitem"
                                           ng-click="changeSearchOption('Search Text')">Search Text
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <tags-input ng-if="searchOption === 'Search Tags'" add-from-autocomplete-only="true"
                                        min-length="2"
                                        display-property="name"
                                        ng-model="tags">
                                <auto-complete min-length="1" source="loadTags($query)"></auto-complete>
                            </tags-input>
                            <div class="search-box">
                                <input ng-if="searchOption === 'Search Text'" type="text" class="form-control"
                                       placeholder="Search"
                                       ng-model="searchQuery.q"/>
                            </div>
                            <div class="dropdown input-group-btn">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-expanded="true">
                                    {{ visibilityOption.name }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="option in visibilityOptions" role="presentation">
                                        <a role="menuitem" ng-click="changeVisibilityOption(option)" tabindex="-1"
                                           href="javascript:void(0)">
                                            <span class="glyphicon {{ option.icon }}"
                                                  aria-hidden="true"></span> {{ option.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                    <span class="clearfix"></span>
                </div>
                <div class="col-md-2">&nbsp;</div>
            </div>
            <div class="row" infinite-scroll="pollAllLinks()" infinite-scroll-disabled='busy'
                 infinite-scroll-distance="1">
                <div class="col-md-4 col-sm-6" ng-repeat="link in links">
                    <div class="panel panel-default">
                        <div class="panel-heading"><a href="{{ link.url }}"
                                                      title="{{ link.title }}">{{ link.title }}</a></div>
                        <div class="panel-body">
                            <a class="thumbnail" href="{{ link.url }}">
                                <img ng-src="/media/thumbs/{{ link.thumb }}" class="img-thumbnail"/>
                            </a>

                            <div>
                                <span class="label label-default tag-label" ng-repeat="tag in link.tags"
                                      ng-click="filterByTag(tag)">{{ tag.name }}</span>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="clearfix">
                                <div class="visibility-icon pull-left">
                                    <span class="glyphicon glyphicon-eye-open public-icon" aria-hidden="true"
                                          ng-show="link.public" title="Public Bookmark"></span>
                                    <span class="glyphicon glyphicon-lock private-icon" aria-hidden="true"
                                          ng-hide="link.public" title="Private Bookmark"></span>
                                </div>
                                <button type="button" ng-click="open(link)" class="btn btn-default btn-sm pull-right">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                                </button>
                                <button type="button" ng-click="openDelete(link)"
                                        class="btn btn-default btn-sm bookmark-delete-btn pull-right">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/ng-template" id="my_stash_edit.html">
                <form novalidate class="simple-form" name="editForm">
                    <div class="modal-header">
                        <h3 class="modal-title">Edit bookmark</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" ng-class="{ 'has-error': editForm.title.$invalid }">
                            <label for="titleInput">Title</label>
                            <input required name="title" id="titleInput" type="text" class="form-control"
                                   ng-model="item.title">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="item.public"> Public
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="tagsInput">Tags</label>
                            <tags-input id="tagsInput"
                                        min-length="2"
                                        display-property="name"
                                        ng-model="item.tags">
                                <auto-complete min-length="1" source="loadTags($query)"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" ng-click="save()" ng-disabled="canSave == false">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
                        </button>
                        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </script>

            <script type="text/ng-template" id="my_stash_delete.html">
                <form novalidate class="simple-form">
                    <div class="modal-header">
                        <h3 class="modal-title">Are you sure you want to delete this bookmark?</h3>
                    </div>
                    <div class="modal-body">
                        <p><i>After the bookmark is deleted it can not be restored!</i></p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" ng-click="delete()"
                                ng-disabled="canDelete == false">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                        </button>
                        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </script>

            <script type="text/ng-template" id="my_stash_add.html">
                <form novalidate class="simple-form" name="addForm">
                    <div class="modal-header">
                        <h3 class="modal-title">Create new bookmark</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" ng-class="{ 'has-error': addForm.url.$invalid }">
                            <label for="urlInput">URL</label>
                            <input required name="url" id="urlInput" type="url" class="form-control"
                                   placeholder="http://example.com"
                                   ng-model="item.url">
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': addForm.title.$invalid }">
                            <label for="titleInput">Title</label>
                            <input required name="title" id="titleInput" type="text" class="form-control"
                                   placeholder="My New Bookmark"
                                   ng-model="item.title">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="item.public"> Public
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="tagsInput">Tags</label>
                            <tags-input id="tagsInput"
                                        min-length="2"
                                        display-property="name"
                                        ng-model="item.tags">
                                <auto-complete min-length="1" source="loadTags($query)"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-success" ng-click="save()"
                                ng-disabled="canSave == false"><span class="glyphicon glyphicon-floppy-disk"
                                                                     aria-hidden="true"></span> Save
                        </button>
                        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </script>
        </div>

    {% endangularjs %}

    <script src='{% static "js/views/my_stash.js" %}'></script>
{% endblock %}
