body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.logo_holder {
  height: auto;
  display: inline-block;
}

.logo_holder img {
  width: auto;
  height: 32px;
}​
