@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

body {
    padding-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #444;
}

.navbar-brand {
    height: 50px;
    padding: 9px 9px;
    line-height: 32px;
}

.navbar-default {
    background-color: rgba(248, 248, 248, 0.9);
    border-bottom: 2px solid #EBEBEB;
}

.navbar-reg {
    height: 50px;
    padding: 9px 9px;
}

.landing-header h1 {
    color: #444;
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.landing-header h2 {
    color: #777;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.btn-xlarge {
    padding: 20px 30px;
    font-size: 18px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.marketing-block {
    margin-top: 140px;
}

.landing-container-top-space {
    padding-top: 40px;
}

.landing-container-border {
    padding-bottom: 50px;
    border-bottom: 1px solid #AAA;
    margin-bottom: 10px;
}

.landing-container-bottom0 {
    padding-bottom: 0px;
}

.landing-feature {
    color: #444;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.landing-feature h2 {
    color: #444;
    font-size: 18px;
    font-weight: 700;
}

.landing-feature h3 {
    color: #444;
    font-size: 18px;
    font-weight: 300;
}

.footer {
    border-top: 1px solid #DDD;
    height: 60px;
    margin: 40px 0 20px 0;
    padding-top: 20px;
}

.navbar .dropdown-toggle {
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}

.search-box {
    min-height: 34px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.add-button {
    float: right;
    margin-top: 16px;
}

.add-group {
    margin-bottom: 10px;
}

.profile-img-dropdown {
    width: 32px;
    height: 32px;
}

/* Overrides */
.panel-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.label {
    margin-right: 5px;
}

.social-login {
    margin-top: 60px;
}

tags-input .tags .tag-item {
    border: 1px solid #ebebeb;
    background: #3498db;
}

tags-input .tags .tag-item.selected {
    background: #e74c3c;
}